.button {
    background-color: var(--foreground);
    border: 0px solid transparent;
    border-radius: 100px;
    color: var(--background);
    cursor: pointer;
    font-size: 1em;
    padding: 2px 20px 2px;
    margin-right: 10px;
    transition: all 0.2s;
}

.button:hover {
    background-color: var(--double-shaded-foreground);
}

.button:disabled {
    background-color: dimgrey;
    cursor: wait;
}