.slideshow {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slideshow img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 1.0s;
}

.slideshow .active {
    opacity: 1;
}