.post {
    animation: fade 2s ease-out;
    border: 1px solid var(--border);
    box-shadow: var(--shadow);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.pictureContainer {
    background-color: black;
    border-radius: 20px;
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
