.modal {
    animation-name: fade;
    animation-duration: 0.5s;
    background-color: rgba(0, 0, 0, 0.9);
    height: 100%;
    left: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.modal-content {
    background-color: var(--background);
    margin: auto;
    padding: 10px 10px 10px;
    position: relative;
    text-align: center;
    width: 800px;
    max-width: 100vw;
}

@keyframes fade {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}