.input {
    border-color: var(--border);
    border-width: 1px;
    border-radius: 5000px;
    border-style: solid;
    background-color: transparent;
    font-size: 1em;
    padding: 4px 25px 4px;
    transition: all 0.2s;
}

.input:focus {
    background-color: var(--highlight);
    outline: none;
}